<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login page</title>

    <script type="text/javascript" src="js/frameworks/jquery/jquery-1.8.2.js"><!--keep--></script>
    <script type="text/javascript" src="js/validator.js"><!-- keep --></script>
    <script type="text/javascript" src="js/authHelper.js"><!-- keep --></script>

    <link href="css/auth.css" rel="stylesheet" type="text/css" />
</head>
<body onload="authHelper.init('<%= selectedTab %>');">

    <div id="tabContainer">

        <ul id="menuList">
            <li><span class="login">Login</span></li>
            <li><span class="register">Register</span></li>
        </ul>

        <div id="loginTab" class='panel_wrapper' style='display:none;'>
            <form id="loginForm" onsubmit="return false;">
                <table>
                    <tr>
                        <td>
                            User :
                        </td>
                        <td>
                            <input type="text" name="login" value=""/><br />
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password :
                        </td>
                        <td>
                            <input type="password" name="password" value=""/><br />
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" id="submitLogin" value="Submit" />
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="registerTab" class='panel_wrapper' style='display:none;'>
            <form id="registerForm" onsubmit="return false;">
                <table>
                    <tr>
                        <td>
                            User :
                        </td>
                        <td>
                            <input type="text" id="rlogin" name="login" value=""/><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password :
                        </td>
                        <td>
                            <input type="password" id="rpass" name="password" value=""/><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Confirm assword :
                        </td>
                        <td>
                            <input type="password" id="rcpass" name="cpassword" value=""/><br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" id="submitRegister" value="Submit" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>

</body>
</html>