<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>NodeJs Chat</title>

    <script type="text/javascript" src="js/frameworks/jquery/jquery-1.8.2.min.js" charset=""><!--keep--></script>
    <script type="text/javascript" src="js/frameworks/jquery/jquery-ui-1.8.24.custom.min.js" charset=""><!--keep--></script>
    <script type="text/javascript" src="js/frameworks/jquery/jQueryRotate.2.2.js" charset=""><!--keep--></script>
    <!--<script type="text/javascript" src="js/frameworks/crab/menu-circled.js" charset="">&lt;!&ndash;keep&ndash;&gt;</script>

    &lt;!&ndash;Validation dependencies&ndash;&gt;
    <script type="text/javascript" src="js/validator.js">&lt;!&ndash; keep &ndash;&gt;</script>
    <script type="text/javascript" src="js/authHelper.js">&lt;!&ndash; keep &ndash;&gt;</script>-->

    <script type="text/javascript" src="js/frameworks/crab/crabmce.js" charset=""><!--keep--></script>

    <!--  modules -->
    <script type="text/javascript" src="js/frameworks/crab/modules/authentication.js" charset=""><!--keep--></script>
    <script type="text/javascript" src="js/frameworks/crab/modules/chat.js" charset=""><!--keep--></script>
    <script type="text/javascript" src="js/frameworks/crab/modules/circledMenu.js" charset=""><!--keep--></script>
    <script type="text/javascript" src="js/frameworks/crab/modules/validator.js" charset=""><!--keep--></script>
    <script type="text/javascript" src="js/frameworks/crab/modules/event.js" charset=""><!--keep--></script>


    <link href="css/menu-circled.css" type="text/css" rel="stylesheet"/>

    <link href="css/main-page.css" type="text/css" rel="stylesheet"/>
    <!--[if lte IE 7]><link href="css/main-page-ie.css" type="text/css" rel="stylesheet"/><![endif]-->
</head>
<body>

    <div id="outer_container">
        <div id="middle_container">
            <div id="inner_container">

                <!-- Start of navigation for unknown user -->
                <nav class="menu-cont unlogged">

                    <a href="javascript:void(0);" class="about">
                        <span class="text">
                            About
                        </span>
                        <span class="rot">
                            <img src="css/imgs/hover-circle.png" alt="" style="-webkit-transform: rotate(0deg); ">
                        </span>
                    </a>

                    <a href="javascript:void(0);" class="login">
                        <span class="text">
                            Login
                        </span>
                        <span class="rot">
                            <img src="css/imgs/hover-circle.png" alt="" style="-webkit-transform: rotate(0deg); ">
                      </span>
                    </a>

                    <a href="javascript:void(0);" class="register">
                        <span class="text">
                            Register
                        </span>
                        <span class="rot">
                            <img src="css/imgs/hover-circle.png" alt="" style="-webkit-transform: rotate(0deg); ">
                      </span>
                    </a>

                    <a href="javascript:void(0);" class="contact">
                        <span class="text">
                           Contact
                        </span>
                        <span class="rot">
                            <img src="css/imgs/hover-circle.png" alt="" style="-webkit-transform: rotate(0deg); ">
                      </span>
                    </a>

                </nav>
                <!-- End of navigation -->

                <!-- Start of navigation for authenticated user -->
                <nav class="menu-cont logged">

                    <a href="javascript:void(0);" class="chat">
                        <span class="text">
                            Chat
                        </span>
                        <span class="rot">
                            <img src="css/imgs/hover-circle.png" alt="" style="-webkit-transform: rotate(0deg); ">
                        </span>
                    </a>

                    <a href="javascript:void(0);" class="about">
                        <span class="text">
                            About
                        </span>
                        <span class="rot">
                            <img src="css/imgs/hover-circle.png" alt="" style="-webkit-transform: rotate(0deg); ">
                        </span>
                    </a>

                    <a href="javascript:void(0);" class="contact">
                        <span class="text">
                           Contact
                        </span>
                        <span class="rot">
                            <img src="css/imgs/hover-circle.png" alt="" style="-webkit-transform: rotate(0deg); ">
                      </span>
                    </a>

                    <a href="javascript:void(0);" class="logout">
                        <span class="text">
                            Logout
                        </span>
                        <span class="rot">
                            <img src="css/imgs/hover-circle.png" alt="" style="-webkit-transform: rotate(0deg); ">
                      </span>
                    </a>


                </nav>
                <!-- End of navigation -->

                <!-- About page -->
                <section class="block about">

                    <a href="javascript:void(0);" class='close rot'>
                        <img src='css/imgs/close.png' />
                    </a>

                    <div class="block_content">

                        <h1>About</h1>

                        <p>
                            This is the first application, written on node.js.
                            The only one purpose of this site is learning of basics of web development using Node.js.
                        </p>
                    </div>

                </section>
                <!-- End of about page -->

                <!-- Login page -->
                <section class="block login">

                    <a href="javascript:void(0);" class='close rot'>
                        <img src='css/imgs/close.png' />
                    </a>

                    <div class="block_content">

                        <h1>Login</h1>

                        <!--<p>
                            This is a first application, written on node.js.
                            The only one purpose of this site is learning of basics of web development using Node.js.
                        </p>-->

                        <form id="loginForm" onsubmit="return false;">

                            <div class="field_container">

                                <div class="field">
                                    <p id="login_loginErrorHolder" class="errorMessage"></p>
                                    <p class="marginer">
                                        <label for="login">
                                            User
                                            <span class="small-label">
                                                Enter your name
                                            </span>
                                        </label>
                                        <input type="text" name="login" value="" />

                                    </p>

                                </div>

                                <div class="field">
                                    <p id="login_passwordErrorHolder" class="errorMessage"></p>
                                    <p class="marginer">
                                        <label for="password">
                                            Password
                                            <span class="small-label">
                                                Enter your password
                                            </span>
                                        </label>
                                        <input type="password" name="password" value=""/>

                                    </p>

                                </div>

                            </div>

                            <div class="centered submitButtonHolder">
                                <input type="submit" id="submitLogin" value="Submit" />
                            </div>
                        </form>

                    </div>

                </section>
                <!-- End of login page -->

                <!-- Register page -->
                <section class="block register">

                    <a href="javascript:void(0);" class='close rot'>
                        <img src='css/imgs/close.png' />
                    </a>

                    <div class="block_content">

                        <h1>Register</h1>

                        <form id="registerForm" onsubmit="return false;">

                            <div class="field_container">
                                <div class="field">
                                    <p class="marginer">
                                        <label for="login">
                                            User
                                            <span class="small-label">
                                                Enter your name
                                            </span>
                                        </label>
                                        <input type="text" id="rlogin" name="login" value="" />
                                    </p>
                                    <p id="register_loginErrorHolder" class="errorMessage" ></p>
                                </div>

                                <div class="field">
                                    <p class="marginer">
                                        <label for="password">
                                            Password
                                            <span class="small-label">
                                                Enter your password
                                            </span>
                                        </label>
                                        <input type="password" id="rpass" name="password" value=""/>
                                    </p>
                                    <p id="register_passwordErrorHolder" class="errorMessage"></p>
                                </div>

                                <div class="field">
                                    <p class="marginer">
                                        <label for="cpassword">
                                            Confirm password
                                            <span class="small-label">
                                                Confirm your password
                                            </span>
                                        </label>
                                        <input type="password" id="rcpass" name="cpassword" value=""/>
                                    </p>
                                    <p id="register_cpasswordErrorHolder" class="errorMessage"></p>
                                </div>
                            </div>

                            <div class="centered submitButtonHolder">
                                <input type="submit" id="submitRegister" value="Submit" />
                            </div>

                        </form>
                    </div>

                </section>
                <!-- End of register page -->

                <!-- Logout page -->
                <section class="block logout">

                    <a href="javascript:void(0);" class='close rot'>
                        <img src='css/imgs/close.png' />
                    </a>

                    <div class="block_content">

                        <h1>Logout</h1>

                        <p>
                            To logout, press the button. You will be automatically logout and won't be able to access 'chat' page;
                        </p>

                        <div class="centered submitButtonHolder">
                            <input type="button" id="logout" value="Logout" />
                        </div>

                    </div>

                </section>
                <!-- End of Logout page -->

            </div>


        </div>
    </div>

</body>
</html>