/*#menuList li {
    display : table-cell;
}*/

.panel_wrapper{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-border-radius: 50px 0px 50px 0px;
    border-radius: 50px 0px 50px 0px;

    /*background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);*/

    background-color:#555555;
    /*background-image: linear-gradient(white 2px, transparent 2px),
        linear-gradient(90deg, white 2px, transparent 2px),
        linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px*/
}

p {
    margin:  0px;
}

form {
    /* Background gradient */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

    width: 500px;
    padding: 20px;
}

label {
    font-family: Arial, Verdana;
    text-shadow: 2px 2px 2px #ccc;
    display: block;
    /*float: left;*/
    font-weight: bold;
    /*margin-right:10px;
    text-align: right;*/
    width: 120px;
    line-height: 25px;
    font-size: 15px;
}

input {
    font-family: Arial, Verdana;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #b9bdc1;
    width: 300px;
    color: #797979;
}

input:focus {
    background-color: #E7E8E7;
}

input[type="submit"]{
    background: none repeat scroll 0 0 #4162A8;
    border-color: #38538C #1F2D4D #151E33;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 10px 1px #5C8BEE inset, 0 1px 0 #1D2C4D, 0 6px 0 #1F3053, 0 8px 4px 1px #111111;
    color: #FFFFFF;
    font: bold 14px/1 "helvetica neue",helvetica,arial,sans-serif;
    margin-bottom: 10px;
    padding: 10px 0 12px;
    text-align: center;
    text-shadow: 0 -1px 1px #1E2D4D;

    /* centrifying button */
    width: 150px;

}

input[type="submit"]:hover {
    box-shadow: 0 0 20px 1px #87ADFF inset, 0 1px 0 #1D2C4D, 0 6px 0 #1F3053, 0 8px 4px 1px #111111;
    cursor: pointer;
}

input[type="submit"]:active {
    box-shadow: 0 1px 10px 1px #5C8BEE inset, 0 1px 0 #1D2C4D, 0 2px 0 #1F3053, 0 4px 3px 0 #111111;
    margin-top: 10px;
}

.marginer {
    margin-left: 90px;
}
.centered {
    margin: 0px auto 10px auto;
    text-align: center;
}

.submitButtonHolder {
    height: 30px;
}

.field {
    position: relative;
    margin-bottom: 10px;
}

/*  ----------------Hints------------------  */
.hint {
    display:none;
}

.field:hover .hint {
    display: block;
    position: absolute;
    white-space: nowrap;
    margin: -30px 0 0 455px;
    color: #FFFFFF;
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.6);

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

/*------------------- Validation error tooltip -----------------*/
/*p.errorMessage {
	position: absolute;
    left: 100px;
    top: -10px;
	*//*width: 200px;*//*
	height: 30px;
	text-align: center;
	line-height: 20px;
    padding: 5px;
	background-color: #fff;
	border: 4px solid #666;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

p.errorMessage:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 30px;
	border: 10px solid;
	border-color: #666 transparent transparent #666;
}

p.errorMessage:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 30px;
	border: 5px solid;
	border-color: #fff transparent transparent #fff;
}*/

p.errorMessage {
    display: table;
    position:absolute;
    left: 200px;
    top: -5px;
    white-space: nowrap;

    padding:5px 15px 5px 15px;
    /*margin:1em 0 3em;*/
    color:#ffffff;
    background:#F04349;

    /* css3 */
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;

    background: #F04349; /* Old browsers */
    background: -moz-linear-gradient(top,  #C81E2B 0%, #F04349 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C81E2B), color-stop(100%,#F04349)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #C81E2B 0%,#F04349 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #C81E2B 0%,#F04349 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C81E2B  0%,#F04349 100%); /* IE10+ */
    background: linear-gradient(to bottom, #C81E2B  0%,#F04349 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C81E2B', endColorstr='#F04349',GradientType=0 ); /* IE6-9 */

}

p.errorMessage:after {
    content:"";
    display:block;  /*reduce the damage in FF3.0*/
    position:absolute;
    bottom:-10px;
    left:30px;
    width:0;
    border-width:10px 10px 0;
    border-style:solid;
    border-color:#F04349 transparent;

    /*-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 0 10px 20px 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 80px;
    position: absolute;
    width: 0;*/
}

p.errorMessage:before {
    /*-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #C81E2B;
    border-image: none;
    border-style: solid;
    border-width: 0 30px 20px 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 60px;
    position: absolute;
    width: 0;*/
}
