.article-old {

    /* IE6-9 *//* Old browsers */
    background: rgb(255,255,255);

    /* FF3.6+ */
    background: -moz-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100%
    );

    /* Chrome,Safari4+ */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%,rgba(255,255,255,1)),
        color-stop(50%,rgba(241,241,241,1)),
        color-stop(51%,rgba(225,225,225,1)),
        color-stop(100%,rgba(246,246,246,1))
    );

    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100%
    );

    /* Opera 11.10+ */
    background: -o-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100%
    );


    /* IE10+ */
    background: -ms-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100%
    );


    background: linear-gradient(
        to bottom,
        rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100%
    );

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );


    -webkit-border-radius: 5px;
    border-radius: 5px;

    margin: 0 10px 10px 0;
    min-height: 24px;
    padding: 8px 6px 4px 10px;
    position: relative;

}

.article-old:last-child {
    margin-bottom: 0;
}

.article-old span {
    font-size: 12px;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.article-old .record {
    display: inline-block;
    font-size: 15px;
    overflow: hidden;
    vertical-align: top;
    width: 75%;
}

.chat-old .date {
    font-size: 11px;
    position: absolute;
    right: 5px;
    float: right;
    width: 15%;
}

.chat-old .author {
    font-size: 11px;
    float: left;
    width: 10%;
    text-overflow: ellipsis;
    -o-text-overflow : ellipsis;
}

.article .separator{
    display: block;
    height: 5px;
    margin-right: 30px;
    background: url('imgs/divider.png') 20px no-repeat;
}
.article .author{
    font-weight: bold;
    font-size: larger;
    color: #5F9EA0;

    text-overflow: ellipsis;
    -o-text-overflow : ellipsis;
}
.article .date{
    font-size: x-small;
    margin-left: 10px;
}
.article .record{
    display: block;
    font-size: smaller;
    margin-right: 25px;
    margin-top: 5px;
}

/************************* custom scrollbar *************************/
.jspScrollable:focus{
    outline:  none;
}

.jspVerticalBar {
    background: none repeat scroll 0 0 transparent;
    width: 20px;
}
.jspTrack {
    right: -10px;
    width: 1px;
}
.jspDrag {
    background: url("imgs/slider.png") no-repeat scroll 0 0 transparent;
    height: 20px !important;
    left: -9px;
    width: 20px;
}
.jspDrag:hover {
    background-position: left bottom;
}

/************************* NAVIGATION TOOLBAR *************************/
.navigation_toolbar {
    margin-top: 20px;
}

.view_number{
    float: right;
    display: block;
}

.toolbar_page_button{
    display : inline-block;
    cursor: pointer;
    width : 20px;
    height : 20px;
    text-align: center;
    font-size: 15px;

    /* IE6-9 *//* Old browsers */
    background: rgb(255,255,255);

    /* FF3.6+ */
    background: -moz-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100%
    );

    /* Chrome,Safari4+ */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%,rgba(255,255,255,1)),
        color-stop(50%,rgba(241,241,241,1)),
        color-stop(51%,rgba(225,225,225,1)),
        color-stop(100%,rgba(246,246,246,1))
    );

    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100%
    );

    /* Opera 11.10+ */
    background: -o-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100%
    );


    /* IE10+ */
    background: -ms-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100%
    );


    background: linear-gradient(
        to bottom,
        rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100%
    );

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

    -webkit-border-radius: 3px;
    border-radius: 3px;

    margin: 5px;

    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
}

.toolbar_page_button:hover{

    /* IE6-9 *//* Old browsers */
    background: #f6f6f6;

    /* FF3.6+ */
    background: -moz-linear-gradient(
        top,
        rgba(246,246,246,1) 0%,
        rgba(225,225,225,1) 50%,
        rgba(241,241,241,1) 51%,
        rgba(255,255,255,1) 100%
    );

    /* Chrome,Safari4+ */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%,rgba(246,246,246,1)),
        color-stop(50%,rgba(225,225,225,1)),
        color-stop(51%,rgba(241,241,241,1)),
        color-stop(100%,rgba(255,255,255,1))
    );

    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(
        top,
        rgba(246,246,246,1) 0%,
        rgba(225,225,225,1) 50%,
        rgba(241,241,241,1) 51%,
        rgba(255,255,255,1) 100%
    );

    /* Opera 11.10+ */
    background: -o-linear-gradient(
        top,
        rgba(246,246,246,1) 0%,
        rgba(225,225,225,1) 50%,
        rgba(241,241,241,1) 51%,
        rgba(255,255,255,1) 100%
    );


    /* IE10+ */
    background: -ms-linear-gradient(
        top,
        rgba(246,246,246,1) 0%,
        rgba(225,225,225,1) 50%,
        rgba(241,241,241,1) 51%,
        rgba(255,255,255,1) 100%
    );


    background: linear-gradient(
        to bottom,
        rgba(246,246,246,1) 0%,
        rgba(225,225,225,1) 50%,
        rgba(241,241,241,1) 51%,
        rgba(255,255,255,1) 100%
    );

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 );
}

.toolbar_page_button.active{

    /* IE6-9 *//* Old browsers */
    background: rgb(95,158,160);

    /* FF3.6+ */
    background: -moz-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(95,158,160,1) 100%
    );

    /* Chrome,Safari4+ */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%,rgba(255,255,255,1)),
        color-stop(100%,rgba(95,158,160,1))
    );

    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(95,158,160,1) 100%
    );

    /* Opera 11.10+ */
    background: -o-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(95,158,160,1) 100%
    );


    /* IE10+ */
    background: -ms-linear-gradient(
        top,
        rgba(255,255,255,1) 0%,
        rgba(95,158,160,1) 100%
    );


    background: linear-gradient(
        to bottom,
        rgba(255,255,255,1) 0%,
        rgba(95,158,160,1) 100%
    );

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5f9ea0',GradientType=0 );
    color: white;
    text-shadow: #000000 1px 1px 1px;
}
/************************* end of NAVIGATION TOOLBAR *************************/

.scroll-pane {
    border-top: #5F9EA0 1px solid;
}

.chat-tabs{
    margin-left: 10px;
}

.chat-tab {
    cursor : pointer;
    font-size: smaller;
    padding: 0 5px;
    border: #5F9EA0 1px solid;
}

.chat-tab:hover {
    border-bottom: #ffffff 1px solid;
}

.chat-tab.active {
    cursor : pointer;
    font-size: smaller;
    background-color: #5F9EA0;
    color: white;
}

.chat-tab.active:hover {
    border-bottom: #5F9EA0 1px solid;
}

.chat-tabs-label {
    margin-right: 10px;
    font-size: small;
}





