.menu-container{
    float: left;
    margin-top : 30px;
    margin-left: -2px;
}

ul{
	/* A universal CSS reset */
	margin:0;
	padding:0;
}
/*
body{
	font-size:14px;
	color:#666;
	background:#111 no-repeat;

	*//* CSS3 Radial Gradients *//*
	background-image:-moz-radial-gradient(center -100px 45deg, circle farthest-corner, #444 150px, #111 300px);
	background-image:-webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#444), to(#111));

	font-family:Arial, Helvetica, sans-serif;
}*/

#navigationMenu li{
	list-style:none;
	height:39px;
	padding:2px;
	width:40px;
}

#navigationMenu span{
	/* Container properties */
	width:0;
	/*left:38px;*/
    right: 38px;
	padding:0;
	position:absolute;
	overflow:hidden;

	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:39px;

	/* CSS3 Transition: */
	-webkit-transition: all 0.25s ;
    -moz-transition: all 0.25s ;
    -ms-transition: all 0.25s ;
    -o-transition: all 0.25s ;
    transition: all 0.25s ;
}

#navigationMenu a{
	/* The background sprite: */
	/*background:url('img/navigation.jpg') no-repeat;*/

	height:39px;
	width:38px;
	display:block;
	position:relative;

    -webkit-box-shadow: inset 0px 0px 5px 0px #E9DC51;
    box-shadow: inset 0px 0px 5px 0px #E9DC51;

}

#navigationMenu a:after{
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(30%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    content: "";
    height: 100%;
    left: 0%;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .5;
}

/* General hover styles */

#navigationMenu a:hover span {
    width:auto;
    padding:0 20px;
    overflow:visible;
}

#navigationMenu a:hover {
	text-decoration:none;

    /*-webkit-box-shadow: 0px 0px 5px 2px #B8D3FF;
    box-shadow: 0px 0px 5px 2px #B8D3FF; */

	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 10px #9ddff5, inset 0 0 10px #9ddff5;
	-webkit-box-shadow:0 0 10px #9ddff5, inset 0 0 10px #9ddff5;
	box-shadow:0 0 10px #9ddff5, inset 0 0 10px #9ddff5;
}

/* Green Button */

#navigationMenu .login {
    background:url('imgs/login.png') #7da315 no-repeat center;
}
/*#navigationMenu .home:hover {
    background-position:0 -39px;
}*/
#navigationMenu .login span{
	background-color:#7da315;
	color:#3d4f0c;
	text-shadow:1px 1px 0 #99bf31;
}

/* Blue Button */

#navigationMenu .register {
    background:url('imgs/register.png') #1e8bb4 no-repeat center;
}
/*#navigationMenu .about:hover { background-position:-38px -39px;}*/
#navigationMenu .register span{
	background-color:#1e8bb4;
	color:#223a44;
	text-shadow:1px 1px 0 #44a8d0;
}

/* Orange Button */

#navigationMenu .services { background-position:-76px 0;}
#navigationMenu .services:hover { background-position:-76px -39px;}
#navigationMenu .services span{
	background-color:#c86c1f;
	color:#5a3517;
	text-shadow:1px 1px 0 #d28344;
}

/* Yellow Button */

#navigationMenu .portfolio { background-position:-114px 0;}
#navigationMenu .portfolio:hover{ background-position:-114px -39px;}
#navigationMenu .portfolio span{
	background-color:#d0a525;
	color:#604e18;
	text-shadow:1px 1px 0 #d8b54b;
}

/* Purple Button */

#navigationMenu .contact { background-position:-152px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}
#navigationMenu .contact span{
	background-color:#af1e83;
	color:#460f35;
	text-shadow:1px 1px 0 #d244a6;
}

